* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header{
    padding: 2rem;
    border-bottom: 2px solid black;
    text-align: center;
}
h1{
    margin: 0;
    font-size: 5rem;
}
h3{
    font-size: 3rem;
    margin: 20px 0;
}
.library-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
.library-container > * {
    flex: 0 0 30rem;
}
.add-button, .book {
    height: 300px;
    text-align: center;
    box-shadow: 0 0 4px 10px rgb(60 59 60 / 60%);
    border-radius: 10px;
    transform: scale(0.8);
    transition: all 0.75s ease;
}
.add-button {
    display: grid;
}
.add-button .plus {
    align-self: center;
    font-size: 200px;
    transition: all 0.75s ease;
}
.library-container > *:hover {
    transform: scale(1);
    cursor: pointer;
}
.add-button:hover {
    background-color: rgba(24, 211, 117, 0.5);
}
.add-button:hover .plus {
    transform: rotate(90deg) scale(1.1);
}
.form-popup {
    width: 35%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    min-width: 400px;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgba(204,255,255);
    transition: 200ms ease-in-out;
}
.form-popup-active{
    transform: translate(-50%,-50%) sclae(1);
}
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 45px;
    margin: 0 15px;
}
.slider {
    position: absolute;
    border-radius: 35px;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.switch input {display: none;}

.slider::before {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
    content: "";
}
.switch input:checked + .slider {
    background-color: pink;
}
.switch input:checked + .slider::before {
    transform: translateX(35px)
}
.form-popup form input {
    width: 75%;
    padding: .8rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}
.form-popup form input:focus {
    outline: none;
}
.form-popup form label {
    font-size: 1.5rem;
}
.form-popup form button {
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 227, 10);
    cursor: pointer;
}
.form-popup form button:hover {
    background-color: rgb(231, 216, 7);
}

